---
import { SITE } from "../../config";
import ModeToggle from "@components/react/ModeToggle";
import { DEFAULT_LOCALE, useTranslations } from "../../lib/i18n";
import Logo from "./Logo.astro";
import { cn } from "../../utils/tw";

export interface Props {
  activeNav?: "posts" | "search";
  showProgressBar: boolean;
}
interface MenuLinks {
  label: string;
  slug?: string;
}

const {
  activeNav,
  locale = DEFAULT_LOCALE,
  showProgressBar = false,
} = Astro.props;
const mainMenuLinks = [
  {
    label: useTranslations(locale)("nav.posts"),
    slug: `/${locale}/posts`,
  },
];
---

<header
  id="main-nav-bar"
  class="expanded fullwidth grid-container sticky top-0 z-10 mx-auto w-full border-b bg-background duration-150"
>
  <div
    class:list={cn("fullwidth fixed top-0 w-full", {
      hidden: !showProgressBar,
    })}
  >
    <span id="progress-bar" class="block h-2 bg-primary transition-all duration-150 ease-out"></span>
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-x-10">
      <a class="site-title flex items-center gap-x-2 font-ui" href=`/${locale}`>
        <!--<span class="relative">-->
        <!--  <span class="block absolute top-0 overflow-hidden w-8 h-12 rotate-45">-->
        <!--    <span class="bg-foreground w-10 h-10 block -rotate-45"></span>-->
        <!--  </span>-->
        <!--  <span class="block h-9 w-9 bg-background right-0 absolute rounded-full border border-foreground"-->
        <!--  ></span>-->
        <!--  <span-->
        <!--    class="absolute -right-1 top-0 block h-0 w-0-->
        <!--          -rotate-45 border-b-[10px]-->
        <!--          border-r-[30px] border-t-[10px]-->
        <!--          border-b-transparent border-r-primary-->
        <!--          border-t-transparent"-->
        <!--  ></span>-->
        <!--</span>-->
        <Logo class="rounded-full" />
        <span class="site-title-text">{SITE.title}</span>
      </a>
      <nav class="items flex gap-x-4">
        {
          mainMenuLinks.map(link => (
            <a
              class="rounded-lg px-3 py-1 font-semibold hover:bg-accent rtl:text-xl"
              href={link.slug}
            >
              {link.label}
            </a>
          ))
        }
      </nav>
    </div>
    <div class="flex items-center gap-x-4">
      <ModeToggle client:load className=" toggle-theme" />
    </div>
  </div>
</header>

<script>
  import { gsap } from "gsap";
  import { debounce } from "lodash-es";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  function initiateScrollControl() {
    const headerElement = document.getElementById("main-nav-bar");
    const progressElement = document.getElementById("progress-bar");
    progressElement.style.width = "0";

    let progress = 0;

    ScrollTrigger.create({
      trigger: "body",
      start: "top top",
      end: "bottom bottom",
      onUpdate: debounce(self => {
        // console.log(progress, self.progress * 100);
        progressElement.style.width = Math.round(self.progress * 100) + "%";
        if (Math.abs(progress - self.progress * 100) > 1) {
          if (self.direction > 0) {
            headerElement.classList.add("shrink");
            headerElement.classList.remove("expanded");
          }

          if (self.direction < 0) {
            headerElement.classList.remove("shrink");
            headerElement.classList.add("expanded");
          }
        }
        progress = self.progress * 100;
      }, 15),
    });
  }

  initiateScrollControl();
  document.addEventListener("astro:after-swap", ev => {
    initiateScrollControl();
  });
</script>

<style is:global>
  .shrink {
    @apply h-16;
  }

  .shrink .toggle-theme {
    @apply hidden;
  }

  .expanded .toggle-theme {
  }

  .expanded {
    @apply h-20;
  }

  .expanded .site-title {
    @apply text-2xl font-bold italic text-primary;
  }

  .expanded .site-title svg {
    @apply h-14 w-14;
  }

  .shrink .site-title svg {
    @apply h-12 w-12;
  }

  .shrink .site-title {
    @apply relative text-lg font-semibold italic text-primary;
  }

  .shrink .site-title .site-title-text {
    @apply hidden;
  }
</style>
