---
import { SITE } from "../../config";
import {ModeToggle} from "@components/react/ModeToggle";
import { DEFAULT_LOCALE, useTranslations } from "../../lib/i18n";
import Logo from "./Logo.astro";


export interface Props {
  activeNav?: "posts" | "search";
  showProgressBar: boolean;
}
interface MenuLinks {
  label: string;
  slug?: string;
}

const {
  activeNav,
  locale = DEFAULT_LOCALE,
  showProgressBar = false,
} = Astro.props;
const mainMenuLinks = [
  // {
  //   label: useTranslations(locale)("nav.posts"),
  //   slug: `/${locale}/posts`,
  // },
  // {
  //   label: useTranslations(locale)("nav.podcast"),
  //   slug: `/${locale}/podcasts`,
  // },
  // {
  //   label: useTranslations(locale)("nav.about"),
  //   slug: `/${locale}/posts`,
  // },
];
---

<header
  id="main-nav-bar"
  class="expanded fullwidth grid-container sticky top-0 z-10 mx-auto w-full border-b bg-background duration-150"
>
  <div
    class:list={["fullwidth fixed top-0 w-full", {
      hidden: !showProgressBar,
    }]}
  >
    <span id="progress-bar" class="block h-1 bg-primary transition-all duration-150 ease-out"></span>
  </div>
  <div class="flex items-center justify-between py-4 px-4 md:px-0">
    <div class="flex items-center gap-x-10">
      <ModeToggle client:visible  className="toggle-theme" />
      <nav class="items flex gap-x-4 px-4 border-r">
        {
          mainMenuLinks.map(link => (
            <a
              class="rounded-lg px-3 py-1 font-semibold hover:bg-accent rtl:font-fa-serif rtl:text-xl"
              href={link.slug}
            >
              {link.label}
            </a>
          ))
        }
      </nav>

    </div>
      <a class="site-title font-bold text-primary inline-flex  items-end font-ui" href=`/${locale}`>
        <Logo class="w-36 fill-red-600" />
        <span class="sr-only">{SITE.title}</span>
      </a>
  </div>
</header>


