---
import { SITE } from "@config";
import "@assets/global.css";
import { DEFAULT_LOCALE, isRtl } from "../lib/i18n";
import Header from "@/components/common/Header.astro";
import "@fontsource-variable/montserrat";
import { ViewTransitions } from "astro:transitions";
import { Toaster } from "@/components/ui/toaster"

// Farsi fonts
import "@fontsource-variable/noto-sans-arabic";
import "@fontsource-variable/vazirmatn";
import Footer from "@components/common/Footer.astro";
import AudioWrapper from "@/components/react/AudioWrapper";


interface Props {
  locale: string;
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
  showProgressBar: boolean;
}

const {
  locale = DEFAULT_LOCALE,
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  showProgressBar = false,
} = Astro.props;
const dir = isRtl(locale) ? "rtl" : "ltr";


export const getOgImagePath = (filename: string = "Default Value") => {
  if (filename.startsWith("/")) filename = filename.substring(1);

  if (filename.endsWith("/"))
    filename = filename.substring(0, filename.length - 1);

  if (filename === "") filename = "Default Value";

  return `./${filename}/og.png`;
};

const ogImage = new URL(getOgImagePath(Astro.url.pathname), Astro.url.origin)
  .href;


---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
  };

  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  document.addEventListener("astro:after-swap", () => {
    const isDark = getThemePreference() === "dark";
    console.log("swamp", isDark);
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");
  });

</script>

<html lang={locale} dir={dir}>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="canonical" href={canonicalURL} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- General Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="author" content={author} />


  <!-- Facebook Meta Tags -->
  <meta property="og:url" content={Astro.url.href}>
  <meta property="og:type" content="website">
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:image" content={ogImage}>

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content={Astro.url.origin}>
  <meta property="twitter:url" content={Astro.url.href}>
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  <meta name="twitter:image" content={ogImage}>

<!-- Meta Tags Generated via https://www.opengraph.xyz -->


  <slot name="meta" />

  <link rel="sitemap" href="/sitemap-index.xml" />

  <ViewTransitions />
</head>
<body class="subpixel-antialiased grid-container bg-background">
<Header {...{locale, showProgressBar}} />
<slot name="featured" />
<slot />
<div class="breakout sticky bottom-5 py-6">
  <AudioWrapper client:load transition:persist></AudioWrapper>
</div>
<Footer />
<Toaster client:load transition:persist />
</body>
</html>
